<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Songs List</title>
</head>
<body>
<h1>Song List</h1>
<div>
  <a href="/songs/add">Add New Song</a>
</div>
<div>
  <p th:text="${error}"></p>
  <table>
    <thead>
    <tr>
      <th>Title</th>
      <th>Track ID</th>
      <th>Genre</th>
      <th>Release Year</th>
      <th>Album</th>
      <th>Performers</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
      <td><a th:href="@{'/songs/details/' + ${song.id}}" th:text="${song.title}"></a></td>
      <td th:text="${song.trackId}"></td>
      <td th:text="${song.genre}"></td>
      <td th:text="${song.releaseYear}"></td>
      <td th:text="${song.album.name}"></td>
      <td>
        <ul>
          <li th:each="performer : ${song.performers}"
              th:text="${performer.firstName + ' ' + performer.lastName}"></li>
        </ul>
      </td>
      <td>
        <a th:href="@{'/songs/edit-form/' + ${song.id}}">Edit</a>
        <form th:action="@{'/songs/delete/' + ${song.id}}" method="post" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
        <a th:href="@{'/artists/add-performer/' + ${song.trackId}}">Add Performer</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>