<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Details</title>
</head>
<body>
<header>
  <h1 th:text="${song.title}"></h1>
</header>
<section>
  <h2>Track ID: <span th:text="${song.trackId}"></span></h2>
  <h2>Genre: <span th:text="${song.genre}"></span></h2>
  <h2>Release Year: <span th:text="${song.releaseYear}"></span></h2>
  <h2>Album: <span th:text="${song.album.name}"></span></h2>

  <h2>Performers:</h2>
  <ul>
    <li th:each="artist : ${song.performers}">
      <span th:text="${artist.firstName}"></span>
      <span th:text="${artist.lastName}"></span>
    </li>
  </ul>
</section>
<footer>
  <a href="/songs">Back to Songs List</a>
</footer>
</body>
</html>